{
    "openapi": "3.0.1",
    "servers": [
        {
            "url": "https://rest.ably.io"
        }
    ],
    "info": {
        "contact": {
            "email": "support@ably.io",
            "name": "Ably Support",
            "url": "https://www.ably.io/contact",
            "x-twitter": "ablyrealtime"
        },
        "description": "The [REST API specification](https://www.ably.io/documentation/rest-api) for Ably.",
        "title": "Platform API",
        "version": "1.1.0",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://twitter.com/ablyrealtime/profile_image?size=original"
        },
        "x-origin": [
            {
                "format": "openapi",
                "url": "https://raw.githubusercontent.com/ably/open-specs/main/definitions/platform-v1.yaml",
                "version": "3.0"
            }
        ],
        "x-providerName": "ably.io",
        "x-serviceName": "platform"
    },
    "security": [
        {
            "basicAuth": []
        },
        {
            "bearerAuth": []
        }
    ],
    "paths": {
        "/channels": {
            "get": {
                "description": "Enumerate all active channels of the application",
                "operationId": "getMetadataOfAllChannels",
                "parameters": [
                    {
                        "in": "query",
                        "name": "limit",
                        "schema": {
                            "default": 100,
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Optionally limits the query to only those channels whose name starts with the given prefix",
                        "in": "query",
                        "name": "prefix",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "optionally specifies whether to return just channel names (by=id) or ChannelDetails (by=value)",
                        "in": "query",
                        "name": "by",
                        "schema": {
                            "enum": [
                                "value",
                                "id"
                            ],
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "2XX": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "items": {
                                                "$ref": "#/components/schemas/ChannelDetails"
                                            },
                                            "type": "array"
                                        },
                                        {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    ]
                                }
                            },
                            "application/x-msgpack": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "items": {
                                                "$ref": "#/components/schemas/ChannelDetails"
                                            },
                                            "type": "array"
                                        },
                                        {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    ]
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "link": {
                                "$ref": "#/components/headers/Link"
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "summary": "Enumerate all active channels of the application",
                "tags": [
                    "Status"
                ],
                "api_calls": [
                    {
                        "id": "shell_curl",
                        "title": "Shell + Curl",
                        "content": "curl --request GET \\\n  --url 'https://rest.ably.io/channels?format=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&prefix=SOME_STRING_VALUE&by=SOME_STRING_VALUE' \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'X-Ably-Version: SOME_STRING_VALUE'"
                    },
                    {
                        "id": "java_okhttp",
                        "title": "Java + Okhttp",
                        "content": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://rest.ably.io/channels?format=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&prefix=SOME_STRING_VALUE&by=SOME_STRING_VALUE\")\n  .get()\n  .addHeader(\"X-Ably-Version\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
                    },
                    {
                        "id": "node_request",
                        "title": "Node + Request",
                        "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://rest.ably.io/channels',\n  qs: {\n    format: 'SOME_STRING_VALUE',\n    limit: 'SOME_INTEGER_VALUE',\n    prefix: 'SOME_STRING_VALUE',\n    by: 'SOME_STRING_VALUE'\n  },\n  headers: {\n    'X-Ably-Version': 'SOME_STRING_VALUE',\n    Authorization: 'Basic REPLACE_BASIC_AUTH'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
                    },
                    {
                        "id": "python_python3",
                        "title": "Python + Python3",
                        "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"rest.ably.io\")\n\nheaders = {\n    'X-Ably-Version': \"SOME_STRING_VALUE\",\n    'Authorization': \"Basic REPLACE_BASIC_AUTH\"\n    }\n\nconn.request(\"GET\", \"/channels?format=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&prefix=SOME_STRING_VALUE&by=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
                    },
                    {
                        "id": "go_native",
                        "title": "Go + Native",
                        "content": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://rest.ably.io/channels?format=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&prefix=SOME_STRING_VALUE&by=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"X-Ably-Version\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
                    },
                    {
                        "id": "ruby_native",
                        "title": "Ruby + Native",
                        "content": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://rest.ably.io/channels?format=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&prefix=SOME_STRING_VALUE&by=SOME_STRING_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"X-Ably-Version\"] = 'SOME_STRING_VALUE'\nrequest[\"Authorization\"] = 'Basic REPLACE_BASIC_AUTH'\n\nresponse = http.request(request)\nputs response.read_body"
                    },
                    {
                        "id": "php_curl",
                        "title": "Php + Curl",
                        "content": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://rest.ably.io/channels?format=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&prefix=SOME_STRING_VALUE&by=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Basic REPLACE_BASIC_AUTH\",\n    \"X-Ably-Version: SOME_STRING_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
                    },
                    {
                        "id": "swift_nsurlsession",
                        "title": "Swift + Nsurlsession",
                        "content": "import Foundation\n\nlet headers = [\n  \"X-Ably-Version\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Basic REPLACE_BASIC_AUTH\"\n]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://rest.ably.io/channels?format=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&prefix=SOME_STRING_VALUE&by=SOME_STRING_VALUE\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
                    },
                    {
                        "id": "c_libcurl",
                        "title": "C + Libcurl",
                        "content": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://rest.ably.io/channels?format=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&prefix=SOME_STRING_VALUE&by=SOME_STRING_VALUE\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"X-Ably-Version: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Authorization: Basic REPLACE_BASIC_AUTH\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
                    },
                    {
                        "id": "javascript_xhr",
                        "title": "Javascript + Xhr",
                        "content": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://rest.ably.io/channels?format=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&prefix=SOME_STRING_VALUE&by=SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"X-Ably-Version\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\");\n\nxhr.send(data);"
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/versionHeader"
                },
                {
                    "$ref": "#/components/parameters/responseFormat"
                }
            ]
        },
        "/channels/{channel_id}": {
            "get": {
                "description": "Get metadata of a channel",
                "operationId": "getMetadataOfChannel",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/channelId"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChannelDetails"
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "x-ably-serverid": {
                                "$ref": "#/components/headers/ServerId"
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "summary": "Get metadata of a channel",
                "tags": [
                    "Status"
                ],
                "api_calls": [
                    {
                        "id": "shell_curl",
                        "title": "Shell + Curl",
                        "content": "curl --request GET \\\n  --url 'https://rest.ably.io/channels/%7Bchannel_id%7D?format=SOME_STRING_VALUE' \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'X-Ably-Version: SOME_STRING_VALUE'"
                    },
                    {
                        "id": "java_okhttp",
                        "title": "Java + Okhttp",
                        "content": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://rest.ably.io/channels/%7Bchannel_id%7D?format=SOME_STRING_VALUE\")\n  .get()\n  .addHeader(\"X-Ably-Version\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
                    },
                    {
                        "id": "node_request",
                        "title": "Node + Request",
                        "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://rest.ably.io/channels/%7Bchannel_id%7D',\n  qs: {format: 'SOME_STRING_VALUE'},\n  headers: {\n    'X-Ably-Version': 'SOME_STRING_VALUE',\n    Authorization: 'Basic REPLACE_BASIC_AUTH'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
                    },
                    {
                        "id": "python_python3",
                        "title": "Python + Python3",
                        "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"rest.ably.io\")\n\nheaders = {\n    'X-Ably-Version': \"SOME_STRING_VALUE\",\n    'Authorization': \"Basic REPLACE_BASIC_AUTH\"\n    }\n\nconn.request(\"GET\", \"/channels/%7Bchannel_id%7D?format=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
                    },
                    {
                        "id": "go_native",
                        "title": "Go + Native",
                        "content": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://rest.ably.io/channels/%7Bchannel_id%7D?format=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"X-Ably-Version\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
                    },
                    {
                        "id": "ruby_native",
                        "title": "Ruby + Native",
                        "content": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://rest.ably.io/channels/%7Bchannel_id%7D?format=SOME_STRING_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"X-Ably-Version\"] = 'SOME_STRING_VALUE'\nrequest[\"Authorization\"] = 'Basic REPLACE_BASIC_AUTH'\n\nresponse = http.request(request)\nputs response.read_body"
                    },
                    {
                        "id": "php_curl",
                        "title": "Php + Curl",
                        "content": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://rest.ably.io/channels/%7Bchannel_id%7D?format=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Basic REPLACE_BASIC_AUTH\",\n    \"X-Ably-Version: SOME_STRING_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
                    },
                    {
                        "id": "swift_nsurlsession",
                        "title": "Swift + Nsurlsession",
                        "content": "import Foundation\n\nlet headers = [\n  \"X-Ably-Version\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Basic REPLACE_BASIC_AUTH\"\n]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://rest.ably.io/channels/%7Bchannel_id%7D?format=SOME_STRING_VALUE\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
                    },
                    {
                        "id": "c_libcurl",
                        "title": "C + Libcurl",
                        "content": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://rest.ably.io/channels/%7Bchannel_id%7D?format=SOME_STRING_VALUE\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"X-Ably-Version: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Authorization: Basic REPLACE_BASIC_AUTH\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
                    },
                    {
                        "id": "javascript_xhr",
                        "title": "Javascript + Xhr",
                        "content": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://rest.ably.io/channels/%7Bchannel_id%7D?format=SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"X-Ably-Version\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\");\n\nxhr.send(data);"
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/versionHeader"
                },
                {
                    "$ref": "#/components/parameters/responseFormat"
                }
            ]
        },
        "/channels/{channel_id}/messages": {
            "get": {
                "description": "Get message history for a channel",
                "operationId": "getMessagesByChannel",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/channelId"
                    },
                    {
                        "$ref": "#/components/parameters/filterStart"
                    },
                    {
                        "$ref": "#/components/parameters/filterLimit"
                    },
                    {
                        "$ref": "#/components/parameters/filterEnd"
                    },
                    {
                        "$ref": "#/components/parameters/filterDirection"
                    }
                ],
                "responses": {
                    "2XX": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/Message"
                                    },
                                    "type": "array"
                                }
                            },
                            "application/x-msgpack": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/Message"
                                    },
                                    "type": "array"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "link": {
                                "$ref": "#/components/headers/Link"
                            },
                            "x-ably-serverid": {
                                "$ref": "#/components/headers/ServerId"
                            }
                        }
                    },
                    "default": {
                        "description": "Error",
                        "headers": {
                            "x-ably-errorcode": {
                                "$ref": "#/components/headers/ErrorCode"
                            },
                            "x-ably-errormessage": {
                                "$ref": "#/components/headers/ErrorMessage"
                            },
                            "x-ably-serverid": {
                                "$ref": "#/components/headers/ServerId"
                            }
                        }
                    }
                },
                "summary": "Get message history for a channel",
                "tags": [
                    "History"
                ],
                "api_calls": [
                    {
                        "id": "shell_curl",
                        "title": "Shell + Curl",
                        "content": "curl --request GET \\\n  --url 'https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE' \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'X-Ably-Version: SOME_STRING_VALUE'"
                    },
                    {
                        "id": "java_okhttp",
                        "title": "Java + Okhttp",
                        "content": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE\")\n  .get()\n  .addHeader(\"X-Ably-Version\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
                    },
                    {
                        "id": "node_request",
                        "title": "Node + Request",
                        "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://rest.ably.io/channels/%7Bchannel_id%7D/messages',\n  qs: {\n    format: 'SOME_STRING_VALUE',\n    start: 'SOME_STRING_VALUE',\n    limit: 'SOME_INTEGER_VALUE',\n    end: 'SOME_STRING_VALUE',\n    direction: 'SOME_STRING_VALUE'\n  },\n  headers: {\n    'X-Ably-Version': 'SOME_STRING_VALUE',\n    Authorization: 'Basic REPLACE_BASIC_AUTH'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
                    },
                    {
                        "id": "python_python3",
                        "title": "Python + Python3",
                        "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"rest.ably.io\")\n\nheaders = {\n    'X-Ably-Version': \"SOME_STRING_VALUE\",\n    'Authorization': \"Basic REPLACE_BASIC_AUTH\"\n    }\n\nconn.request(\"GET\", \"/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
                    },
                    {
                        "id": "go_native",
                        "title": "Go + Native",
                        "content": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"X-Ably-Version\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
                    },
                    {
                        "id": "ruby_native",
                        "title": "Ruby + Native",
                        "content": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"X-Ably-Version\"] = 'SOME_STRING_VALUE'\nrequest[\"Authorization\"] = 'Basic REPLACE_BASIC_AUTH'\n\nresponse = http.request(request)\nputs response.read_body"
                    },
                    {
                        "id": "php_curl",
                        "title": "Php + Curl",
                        "content": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Basic REPLACE_BASIC_AUTH\",\n    \"X-Ably-Version: SOME_STRING_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
                    },
                    {
                        "id": "swift_nsurlsession",
                        "title": "Swift + Nsurlsession",
                        "content": "import Foundation\n\nlet headers = [\n  \"X-Ably-Version\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Basic REPLACE_BASIC_AUTH\"\n]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
                    },
                    {
                        "id": "c_libcurl",
                        "title": "C + Libcurl",
                        "content": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"X-Ably-Version: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Authorization: Basic REPLACE_BASIC_AUTH\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
                    },
                    {
                        "id": "javascript_xhr",
                        "title": "Javascript + Xhr",
                        "content": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"X-Ably-Version\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\");\n\nxhr.send(data);"
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/versionHeader"
                },
                {
                    "$ref": "#/components/parameters/responseFormat"
                }
            ],
            "post": {
                "description": "Publish a message to the specified channel",
                "operationId": "publishMessagesToChannel",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/channelId"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Message"
                            }
                        },
                        "application/x-msgpack": {
                            "schema": {
                                "$ref": "#/components/schemas/Message"
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/Message"
                            }
                        }
                    }
                },
                "responses": {
                    "2XX": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "channel": {
                                            "type": "string"
                                        },
                                        "messageId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "application/x-msgpack": {
                                "schema": {
                                    "properties": {
                                        "channel": {
                                            "type": "string"
                                        },
                                        "messageId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "properties": {
                                        "channel": {
                                            "type": "string"
                                        },
                                        "messageId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "x-ably-serverid": {
                                "$ref": "#/components/headers/ServerId"
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "summary": "Publish a message to a channel",
                "tags": [
                    "Publishing"
                ],
                "api_calls": [
                    {
                        "id": "shell_curl",
                        "mimeType": "application/json",
                        "title": "Shell + Curl",
                        "content": "curl --request POST \\\n  --url 'https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE' \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'X-Ably-Version: SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"clientId\":\"string\",\"connectionId\":\"string\",\"data\":\"string\",\"encoding\":\"string\",\"extras\":{\"push\":{\"apns\":{\"notification\":{\"body\":\"string\",\"collapseKey\":\"string\",\"icon\":\"string\",\"sound\":\"string\",\"title\":\"string\"}},\"data\":\"string\",\"fcm\":{\"notification\":{\"body\":\"string\",\"collapseKey\":\"string\",\"icon\":\"string\",\"sound\":\"string\",\"title\":\"string\"}},\"notification\":{\"body\":\"string\",\"collapseKey\":\"string\",\"icon\":\"string\",\"sound\":\"string\",\"title\":\"string\"},\"web\":{\"notification\":{\"body\":\"string\",\"collapseKey\":\"string\",\"icon\":\"string\",\"sound\":\"string\",\"title\":\"string\"}}}},\"name\":\"string\"}'"
                    },
                    {
                        "id": "java_okhttp",
                        "mimeType": "application/json",
                        "title": "Java + Okhttp",
                        "content": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"clientId\\\":\\\"string\\\",\\\"connectionId\\\":\\\"string\\\",\\\"data\\\":\\\"string\\\",\\\"encoding\\\":\\\"string\\\",\\\"extras\\\":{\\\"push\\\":{\\\"apns\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}},\\\"data\\\":\\\"string\\\",\\\"fcm\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}},\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"},\\\"web\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}}}},\\\"name\\\":\\\"string\\\"}\");\nRequest request = new Request.Builder()\n  .url(\"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE\")\n  .post(body)\n  .addHeader(\"X-Ably-Version\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n  .addHeader(\"content-type\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
                    },
                    {
                        "id": "node_request",
                        "mimeType": "application/json",
                        "title": "Node + Request",
                        "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://rest.ably.io/channels/%7Bchannel_id%7D/messages',\n  qs: {format: 'SOME_STRING_VALUE'},\n  headers: {\n    'X-Ably-Version': 'SOME_STRING_VALUE',\n    Authorization: 'Basic REPLACE_BASIC_AUTH',\n    'content-type': 'application/json'\n  },\n  body: {\n    clientId: 'string',\n    connectionId: 'string',\n    data: 'string',\n    encoding: 'string',\n    extras: {\n      push: {\n        apns: {\n          notification: {\n            body: 'string',\n            collapseKey: 'string',\n            icon: 'string',\n            sound: 'string',\n            title: 'string'\n          }\n        },\n        data: 'string',\n        fcm: {\n          notification: {\n            body: 'string',\n            collapseKey: 'string',\n            icon: 'string',\n            sound: 'string',\n            title: 'string'\n          }\n        },\n        notification: {\n          body: 'string',\n          collapseKey: 'string',\n          icon: 'string',\n          sound: 'string',\n          title: 'string'\n        },\n        web: {\n          notification: {\n            body: 'string',\n            collapseKey: 'string',\n            icon: 'string',\n            sound: 'string',\n            title: 'string'\n          }\n        }\n      }\n    },\n    name: 'string'\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
                    },
                    {
                        "id": "python_python3",
                        "mimeType": "application/json",
                        "title": "Python + Python3",
                        "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"rest.ably.io\")\n\npayload = \"{\\\"clientId\\\":\\\"string\\\",\\\"connectionId\\\":\\\"string\\\",\\\"data\\\":\\\"string\\\",\\\"encoding\\\":\\\"string\\\",\\\"extras\\\":{\\\"push\\\":{\\\"apns\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}},\\\"data\\\":\\\"string\\\",\\\"fcm\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}},\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"},\\\"web\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}}}},\\\"name\\\":\\\"string\\\"}\"\n\nheaders = {\n    'X-Ably-Version': \"SOME_STRING_VALUE\",\n    'Authorization': \"Basic REPLACE_BASIC_AUTH\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
                    },
                    {
                        "id": "go_native",
                        "mimeType": "application/json",
                        "title": "Go + Native",
                        "content": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE\"\n\n\tpayload := strings.NewReader(\"{\\\"clientId\\\":\\\"string\\\",\\\"connectionId\\\":\\\"string\\\",\\\"data\\\":\\\"string\\\",\\\"encoding\\\":\\\"string\\\",\\\"extras\\\":{\\\"push\\\":{\\\"apns\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}},\\\"data\\\":\\\"string\\\",\\\"fcm\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}},\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"},\\\"web\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}}}},\\\"name\\\":\\\"string\\\"}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"X-Ably-Version\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
                    },
                    {
                        "id": "ruby_native",
                        "mimeType": "application/json",
                        "title": "Ruby + Native",
                        "content": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"X-Ably-Version\"] = 'SOME_STRING_VALUE'\nrequest[\"Authorization\"] = 'Basic REPLACE_BASIC_AUTH'\nrequest[\"content-type\"] = 'application/json'\nrequest.body = \"{\\\"clientId\\\":\\\"string\\\",\\\"connectionId\\\":\\\"string\\\",\\\"data\\\":\\\"string\\\",\\\"encoding\\\":\\\"string\\\",\\\"extras\\\":{\\\"push\\\":{\\\"apns\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}},\\\"data\\\":\\\"string\\\",\\\"fcm\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}},\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"},\\\"web\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}}}},\\\"name\\\":\\\"string\\\"}\"\n\nresponse = http.request(request)\nputs response.read_body"
                    },
                    {
                        "id": "php_curl",
                        "mimeType": "application/json",
                        "title": "Php + Curl",
                        "content": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"clientId\\\":\\\"string\\\",\\\"connectionId\\\":\\\"string\\\",\\\"data\\\":\\\"string\\\",\\\"encoding\\\":\\\"string\\\",\\\"extras\\\":{\\\"push\\\":{\\\"apns\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}},\\\"data\\\":\\\"string\\\",\\\"fcm\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}},\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"},\\\"web\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}}}},\\\"name\\\":\\\"string\\\"}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Basic REPLACE_BASIC_AUTH\",\n    \"X-Ably-Version: SOME_STRING_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
                    },
                    {
                        "id": "swift_nsurlsession",
                        "mimeType": "application/json",
                        "title": "Swift + Nsurlsession",
                        "content": "import Foundation\n\nlet headers = [\n  \"X-Ably-Version\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Basic REPLACE_BASIC_AUTH\",\n  \"content-type\": \"application/json\"\n]\nlet parameters = [\n  \"clientId\": \"string\",\n  \"connectionId\": \"string\",\n  \"data\": \"string\",\n  \"encoding\": \"string\",\n  \"extras\": [\"push\": [\n      \"apns\": [\"notification\": [\n          \"body\": \"string\",\n          \"collapseKey\": \"string\",\n          \"icon\": \"string\",\n          \"sound\": \"string\",\n          \"title\": \"string\"\n        ]],\n      \"data\": \"string\",\n      \"fcm\": [\"notification\": [\n          \"body\": \"string\",\n          \"collapseKey\": \"string\",\n          \"icon\": \"string\",\n          \"sound\": \"string\",\n          \"title\": \"string\"\n        ]],\n      \"notification\": [\n        \"body\": \"string\",\n        \"collapseKey\": \"string\",\n        \"icon\": \"string\",\n        \"sound\": \"string\",\n        \"title\": \"string\"\n      ],\n      \"web\": [\"notification\": [\n          \"body\": \"string\",\n          \"collapseKey\": \"string\",\n          \"icon\": \"string\",\n          \"sound\": \"string\",\n          \"title\": \"string\"\n        ]]\n    ]],\n  \"name\": \"string\"\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
                    },
                    {
                        "id": "c_libcurl",
                        "mimeType": "application/json",
                        "title": "C + Libcurl",
                        "content": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"X-Ably-Version: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Authorization: Basic REPLACE_BASIC_AUTH\");\nheaders = curl_slist_append(headers, \"content-type: application/json\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"clientId\\\":\\\"string\\\",\\\"connectionId\\\":\\\"string\\\",\\\"data\\\":\\\"string\\\",\\\"encoding\\\":\\\"string\\\",\\\"extras\\\":{\\\"push\\\":{\\\"apns\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}},\\\"data\\\":\\\"string\\\",\\\"fcm\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}},\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"},\\\"web\\\":{\\\"notification\\\":{\\\"body\\\":\\\"string\\\",\\\"collapseKey\\\":\\\"string\\\",\\\"icon\\\":\\\"string\\\",\\\"sound\\\":\\\"string\\\",\\\"title\\\":\\\"string\\\"}}}},\\\"name\\\":\\\"string\\\"}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
                    },
                    {
                        "id": "javascript_xhr",
                        "mimeType": "application/json",
                        "title": "Javascript + Xhr",
                        "content": "const data = JSON.stringify({\n  \"clientId\": \"string\",\n  \"connectionId\": \"string\",\n  \"data\": \"string\",\n  \"encoding\": \"string\",\n  \"extras\": {\n    \"push\": {\n      \"apns\": {\n        \"notification\": {\n          \"body\": \"string\",\n          \"collapseKey\": \"string\",\n          \"icon\": \"string\",\n          \"sound\": \"string\",\n          \"title\": \"string\"\n        }\n      },\n      \"data\": \"string\",\n      \"fcm\": {\n        \"notification\": {\n          \"body\": \"string\",\n          \"collapseKey\": \"string\",\n          \"icon\": \"string\",\n          \"sound\": \"string\",\n          \"title\": \"string\"\n        }\n      },\n      \"notification\": {\n        \"body\": \"string\",\n        \"collapseKey\": \"string\",\n        \"icon\": \"string\",\n        \"sound\": \"string\",\n        \"title\": \"string\"\n      },\n      \"web\": {\n        \"notification\": {\n          \"body\": \"string\",\n          \"collapseKey\": \"string\",\n          \"icon\": \"string\",\n          \"sound\": \"string\",\n          \"title\": \"string\"\n        }\n      }\n    }\n  },\n  \"name\": \"string\"\n});\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"X-Ably-Version\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\");\nxhr.setRequestHeader(\"content-type\", \"application/json\");\n\nxhr.send(data);"
                    },
                    {
                        "id": "shell_curl",
                        "mimeType": "application/x-www-form-urlencoded",
                        "title": "Shell + Curl",
                        "content": "curl --request POST \\\n  --url 'https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE' \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'X-Ably-Version: SOME_STRING_VALUE' \\\n  --header 'content-type: application/x-www-form-urlencoded' \\\n  --data clientId=string \\\n  --data connectionId=string \\\n  --data data=string \\\n  --data encoding=string \\\n  --data 'extras=%5Bobject+Object%5D' \\\n  --data name=string"
                    },
                    {
                        "id": "java_okhttp",
                        "mimeType": "application/x-www-form-urlencoded",
                        "title": "Java + Okhttp",
                        "content": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/x-www-form-urlencoded\");\nRequestBody body = RequestBody.create(mediaType, \"clientId=string&connectionId=string&data=string&encoding=string&extras=%255Bobject%2BObject%255D&name=string\");\nRequest request = new Request.Builder()\n  .url(\"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE\")\n  .post(body)\n  .addHeader(\"X-Ably-Version\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n  .addHeader(\"content-type\", \"application/x-www-form-urlencoded\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
                    },
                    {
                        "id": "node_request",
                        "mimeType": "application/x-www-form-urlencoded",
                        "title": "Node + Request",
                        "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://rest.ably.io/channels/%7Bchannel_id%7D/messages',\n  qs: {format: 'SOME_STRING_VALUE'},\n  headers: {\n    'X-Ably-Version': 'SOME_STRING_VALUE',\n    Authorization: 'Basic REPLACE_BASIC_AUTH',\n    'content-type': 'application/x-www-form-urlencoded'\n  },\n  form: {\n    clientId: 'string',\n    connectionId: 'string',\n    data: 'string',\n    encoding: 'string',\n    extras: '%5Bobject+Object%5D',\n    name: 'string'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
                    },
                    {
                        "id": "python_python3",
                        "mimeType": "application/x-www-form-urlencoded",
                        "title": "Python + Python3",
                        "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"rest.ably.io\")\n\npayload = \"clientId=string&connectionId=string&data=string&encoding=string&extras=%255Bobject%2BObject%255D&name=string\"\n\nheaders = {\n    'X-Ably-Version': \"SOME_STRING_VALUE\",\n    'Authorization': \"Basic REPLACE_BASIC_AUTH\",\n    'content-type': \"application/x-www-form-urlencoded\"\n    }\n\nconn.request(\"POST\", \"/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
                    },
                    {
                        "id": "go_native",
                        "mimeType": "application/x-www-form-urlencoded",
                        "title": "Go + Native",
                        "content": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE\"\n\n\tpayload := strings.NewReader(\"clientId=string&connectionId=string&data=string&encoding=string&extras=%255Bobject%2BObject%255D&name=string\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"X-Ably-Version\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\treq.Header.Add(\"content-type\", \"application/x-www-form-urlencoded\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
                    },
                    {
                        "id": "ruby_native",
                        "mimeType": "application/x-www-form-urlencoded",
                        "title": "Ruby + Native",
                        "content": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"X-Ably-Version\"] = 'SOME_STRING_VALUE'\nrequest[\"Authorization\"] = 'Basic REPLACE_BASIC_AUTH'\nrequest[\"content-type\"] = 'application/x-www-form-urlencoded'\nrequest.body = \"clientId=string&connectionId=string&data=string&encoding=string&extras=%255Bobject%2BObject%255D&name=string\"\n\nresponse = http.request(request)\nputs response.read_body"
                    },
                    {
                        "id": "php_curl",
                        "mimeType": "application/x-www-form-urlencoded",
                        "title": "Php + Curl",
                        "content": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"clientId=string&connectionId=string&data=string&encoding=string&extras=%255Bobject%2BObject%255D&name=string\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Basic REPLACE_BASIC_AUTH\",\n    \"X-Ably-Version: SOME_STRING_VALUE\",\n    \"content-type: application/x-www-form-urlencoded\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
                    },
                    {
                        "id": "swift_nsurlsession",
                        "mimeType": "application/x-www-form-urlencoded",
                        "title": "Swift + Nsurlsession",
                        "content": "import Foundation\n\nlet headers = [\n  \"X-Ably-Version\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Basic REPLACE_BASIC_AUTH\",\n  \"content-type\": \"application/x-www-form-urlencoded\"\n]\n\nlet postData = NSMutableData(data: \"clientId=string\".data(using: String.Encoding.utf8)!)\npostData.append(\"&connectionId=string\".data(using: String.Encoding.utf8)!)\npostData.append(\"&data=string\".data(using: String.Encoding.utf8)!)\npostData.append(\"&encoding=string\".data(using: String.Encoding.utf8)!)\npostData.append(\"&extras=%5Bobject+Object%5D\".data(using: String.Encoding.utf8)!)\npostData.append(\"&name=string\".data(using: String.Encoding.utf8)!)\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
                    },
                    {
                        "id": "c_libcurl",
                        "mimeType": "application/x-www-form-urlencoded",
                        "title": "C + Libcurl",
                        "content": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"X-Ably-Version: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Authorization: Basic REPLACE_BASIC_AUTH\");\nheaders = curl_slist_append(headers, \"content-type: application/x-www-form-urlencoded\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"clientId=string&connectionId=string&data=string&encoding=string&extras=%255Bobject%2BObject%255D&name=string\");\n\nCURLcode ret = curl_easy_perform(hnd);"
                    },
                    {
                        "id": "javascript_xhr",
                        "mimeType": "application/x-www-form-urlencoded",
                        "title": "Javascript + Xhr",
                        "content": "const data = \"clientId=string&connectionId=string&data=string&encoding=string&extras=%255Bobject%2BObject%255D&name=string\";\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://rest.ably.io/channels/%7Bchannel_id%7D/messages?format=SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"X-Ably-Version\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\");\nxhr.setRequestHeader(\"content-type\", \"application/x-www-form-urlencoded\");\n\nxhr.send(data);"
                    }
                ]
            }
        },
        "/channels/{channel_id}/presence": {
            "get": {
                "description": "Get presence on a channel",
                "operationId": "getPresenceOfChannel",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/channelId"
                    },
                    {
                        "in": "query",
                        "name": "clientId",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "connectionId",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "schema": {
                            "default": 100,
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/PresenceMessage"
                                    },
                                    "type": "array"
                                }
                            },
                            "application/x-msgpack": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/PresenceMessage"
                                    },
                                    "type": "array"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "link": {
                                "$ref": "#/components/headers/Link"
                            },
                            "x-ably-serverid": {
                                "$ref": "#/components/headers/ServerId"
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "summary": "Get presence of a channel",
                "tags": [
                    "Status"
                ],
                "api_calls": [
                    {
                        "id": "shell_curl",
                        "title": "Shell + Curl",
                        "content": "curl --request GET \\\n  --url 'https://rest.ably.io/channels/%7Bchannel_id%7D/presence?format=SOME_STRING_VALUE&clientId=SOME_STRING_VALUE&connectionId=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'X-Ably-Version: SOME_STRING_VALUE'"
                    },
                    {
                        "id": "java_okhttp",
                        "title": "Java + Okhttp",
                        "content": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://rest.ably.io/channels/%7Bchannel_id%7D/presence?format=SOME_STRING_VALUE&clientId=SOME_STRING_VALUE&connectionId=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE\")\n  .get()\n  .addHeader(\"X-Ably-Version\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
                    },
                    {
                        "id": "node_request",
                        "title": "Node + Request",
                        "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://rest.ably.io/channels/%7Bchannel_id%7D/presence',\n  qs: {\n    format: 'SOME_STRING_VALUE',\n    clientId: 'SOME_STRING_VALUE',\n    connectionId: 'SOME_STRING_VALUE',\n    limit: 'SOME_INTEGER_VALUE'\n  },\n  headers: {\n    'X-Ably-Version': 'SOME_STRING_VALUE',\n    Authorization: 'Basic REPLACE_BASIC_AUTH'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
                    },
                    {
                        "id": "python_python3",
                        "title": "Python + Python3",
                        "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"rest.ably.io\")\n\nheaders = {\n    'X-Ably-Version': \"SOME_STRING_VALUE\",\n    'Authorization': \"Basic REPLACE_BASIC_AUTH\"\n    }\n\nconn.request(\"GET\", \"/channels/%7Bchannel_id%7D/presence?format=SOME_STRING_VALUE&clientId=SOME_STRING_VALUE&connectionId=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
                    },
                    {
                        "id": "go_native",
                        "title": "Go + Native",
                        "content": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://rest.ably.io/channels/%7Bchannel_id%7D/presence?format=SOME_STRING_VALUE&clientId=SOME_STRING_VALUE&connectionId=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"X-Ably-Version\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
                    },
                    {
                        "id": "ruby_native",
                        "title": "Ruby + Native",
                        "content": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://rest.ably.io/channels/%7Bchannel_id%7D/presence?format=SOME_STRING_VALUE&clientId=SOME_STRING_VALUE&connectionId=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"X-Ably-Version\"] = 'SOME_STRING_VALUE'\nrequest[\"Authorization\"] = 'Basic REPLACE_BASIC_AUTH'\n\nresponse = http.request(request)\nputs response.read_body"
                    },
                    {
                        "id": "php_curl",
                        "title": "Php + Curl",
                        "content": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://rest.ably.io/channels/%7Bchannel_id%7D/presence?format=SOME_STRING_VALUE&clientId=SOME_STRING_VALUE&connectionId=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Basic REPLACE_BASIC_AUTH\",\n    \"X-Ably-Version: SOME_STRING_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
                    },
                    {
                        "id": "swift_nsurlsession",
                        "title": "Swift + Nsurlsession",
                        "content": "import Foundation\n\nlet headers = [\n  \"X-Ably-Version\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Basic REPLACE_BASIC_AUTH\"\n]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://rest.ably.io/channels/%7Bchannel_id%7D/presence?format=SOME_STRING_VALUE&clientId=SOME_STRING_VALUE&connectionId=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
                    },
                    {
                        "id": "c_libcurl",
                        "title": "C + Libcurl",
                        "content": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://rest.ably.io/channels/%7Bchannel_id%7D/presence?format=SOME_STRING_VALUE&clientId=SOME_STRING_VALUE&connectionId=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"X-Ably-Version: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Authorization: Basic REPLACE_BASIC_AUTH\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
                    },
                    {
                        "id": "javascript_xhr",
                        "title": "Javascript + Xhr",
                        "content": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://rest.ably.io/channels/%7Bchannel_id%7D/presence?format=SOME_STRING_VALUE&clientId=SOME_STRING_VALUE&connectionId=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE\");\nxhr.setRequestHeader(\"X-Ably-Version\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\");\n\nxhr.send(data);"
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/versionHeader"
                },
                {
                    "$ref": "#/components/parameters/responseFormat"
                }
            ]
        },
        "/channels/{channel_id}/presence/history": {
            "get": {
                "description": "Get presence on a channel",
                "operationId": "getPresenceHistoryOfChannel",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/channelId"
                    },
                    {
                        "$ref": "#/components/parameters/filterStart"
                    },
                    {
                        "$ref": "#/components/parameters/filterLimit"
                    },
                    {
                        "$ref": "#/components/parameters/filterEnd"
                    },
                    {
                        "$ref": "#/components/parameters/filterDirection"
                    }
                ],
                "responses": {
                    "2XX": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/PresenceMessage"
                                    },
                                    "type": "array"
                                }
                            },
                            "application/x-msgpack": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/PresenceMessage"
                                    },
                                    "type": "array"
                                }
                            },
                            "text/html": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "OK",
                        "headers": {
                            "link": {
                                "$ref": "#/components/headers/Link"
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "summary": "Get presence history of a channel",
                "tags": [
                    "History"
                ],
                "api_calls": [
                    {
                        "id": "shell_curl",
                        "title": "Shell + Curl",
                        "content": "curl --request GET \\\n  --url 'https://rest.ably.io/channels/%7Bchannel_id%7D/presence/history?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE' \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'X-Ably-Version: SOME_STRING_VALUE'"
                    },
                    {
                        "id": "java_okhttp",
                        "title": "Java + Okhttp",
                        "content": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://rest.ably.io/channels/%7Bchannel_id%7D/presence/history?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE\")\n  .get()\n  .addHeader(\"X-Ably-Version\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
                    },
                    {
                        "id": "node_request",
                        "title": "Node + Request",
                        "content": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://rest.ably.io/channels/%7Bchannel_id%7D/presence/history',\n  qs: {\n    format: 'SOME_STRING_VALUE',\n    start: 'SOME_STRING_VALUE',\n    limit: 'SOME_INTEGER_VALUE',\n    end: 'SOME_STRING_VALUE',\n    direction: 'SOME_STRING_VALUE'\n  },\n  headers: {\n    'X-Ably-Version': 'SOME_STRING_VALUE',\n    Authorization: 'Basic REPLACE_BASIC_AUTH'\n  }\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
                    },
                    {
                        "id": "python_python3",
                        "title": "Python + Python3",
                        "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"rest.ably.io\")\n\nheaders = {\n    'X-Ably-Version': \"SOME_STRING_VALUE\",\n    'Authorization': \"Basic REPLACE_BASIC_AUTH\"\n    }\n\nconn.request(\"GET\", \"/channels/%7Bchannel_id%7D/presence/history?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
                    },
                    {
                        "id": "go_native",
                        "title": "Go + Native",
                        "content": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://rest.ably.io/channels/%7Bchannel_id%7D/presence/history?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"X-Ably-Version\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
                    },
                    {
                        "id": "ruby_native",
                        "title": "Ruby + Native",
                        "content": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://rest.ably.io/channels/%7Bchannel_id%7D/presence/history?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"X-Ably-Version\"] = 'SOME_STRING_VALUE'\nrequest[\"Authorization\"] = 'Basic REPLACE_BASIC_AUTH'\n\nresponse = http.request(request)\nputs response.read_body"
                    },
                    {
                        "id": "php_curl",
                        "title": "Php + Curl",
                        "content": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://rest.ably.io/channels/%7Bchannel_id%7D/presence/history?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Basic REPLACE_BASIC_AUTH\",\n    \"X-Ably-Version: SOME_STRING_VALUE\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
                    },
                    {
                        "id": "swift_nsurlsession",
                        "title": "Swift + Nsurlsession",
                        "content": "import Foundation\n\nlet headers = [\n  \"X-Ably-Version\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Basic REPLACE_BASIC_AUTH\"\n]\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://rest.ably.io/channels/%7Bchannel_id%7D/presence/history?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
                    },
                    {
                        "id": "c_libcurl",
                        "title": "C + Libcurl",
                        "content": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://rest.ably.io/channels/%7Bchannel_id%7D/presence/history?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"X-Ably-Version: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Authorization: Basic REPLACE_BASIC_AUTH\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
                    },
                    {
                        "id": "javascript_xhr",
                        "title": "Javascript + Xhr",
                        "content": "const data = null;\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://rest.ably.io/channels/%7Bchannel_id%7D/presence/history?format=SOME_STRING_VALUE&start=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&end=SOME_STRING_VALUE&direction=SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"X-Ably-Version\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\");\n\nxhr.send(data);"
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/components/parameters/versionHeader"
                },
                {
                    "$ref": "#/components/parameters/responseFormat"
                }
            ]
        },
        "/keys/{keyName}/requestToken": {
            "parameters": [
                {
                    "$ref": "#/components/parameters/versionHeader"
                },
                {
                    "$ref": "#/components/parameters/responseFormat"
                }
            ],
            "post": {
                "description": "This is the means by which clients obtain access tokens to use the service. You can see how to construct an Ably TokenRequest in the [Ably TokenRequest spec](https://www.ably.io/documentation/rest-api/token-request-spec) documentation, although we recommend you use an Ably SDK rather to create a TokenRequest, as the construction of a TokenRequest is complex. The resulting token response object contains the token properties as defined in Ably TokenRequest spec. Authentication is not required if using a Signed TokenRequest.",
                "operationId": "requestAccessToken",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/key_name"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "capability": {
                                    "channel1": [
                                        "publish",
                                        "subscribe"
                                    ],
                                    "wildcard:channels:*": [
                                        "publish"
                                    ]
                                },
                                "keyName": "YourKey.Name",
                                "timestamp": "1559124196551"
                            },
                            "schema": {
                                "oneOf": [
                                    {
                                        "$ref": "#/components/schemas/TokenRequest"
                                    },
                                    {
                                        "$ref": "#/components/schemas/SignedTokenRequest"
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "2XX": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenDetails"
                                }
                            },
                            "application/x-msgpack": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenDetails"
                                }
                            }
                        },
                        "description": "OK"
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "summary": "Request an access token",
                "tags": [
                    "Authentication"
                ],
                "api_calls": [
                    {
                        "id": "shell_curl",
                        "mimeType": "application/json",
                        "title": "Shell + Curl",
                        "content": "curl --request POST \\\n  --url 'https://rest.ably.io/keys/%7BkeyName%7D/requestToken?format=SOME_STRING_VALUE' \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'X-Ably-Version: SOME_STRING_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"capability\":{\"channel1\":[\"publish\",\"subscribe\"]},\"clientId\":\"string\",\"keyName\":\"xVLyHw.LMJZxw\",\"nonce\":\"string\",\"timestamp\":0}'"
                    },
                    {
                        "id": "java_okhttp",
                        "mimeType": "application/json",
                        "title": "Java + Okhttp",
                        "content": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"capability\\\":{\\\"channel1\\\":[\\\"publish\\\",\\\"subscribe\\\"]},\\\"clientId\\\":\\\"string\\\",\\\"keyName\\\":\\\"xVLyHw.LMJZxw\\\",\\\"nonce\\\":\\\"string\\\",\\\"timestamp\\\":0}\");\nRequest request = new Request.Builder()\n  .url(\"https://rest.ably.io/keys/%7BkeyName%7D/requestToken?format=SOME_STRING_VALUE\")\n  .post(body)\n  .addHeader(\"X-Ably-Version\", \"SOME_STRING_VALUE\")\n  .addHeader(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n  .addHeader(\"content-type\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
                    },
                    {
                        "id": "node_request",
                        "mimeType": "application/json",
                        "title": "Node + Request",
                        "content": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://rest.ably.io/keys/%7BkeyName%7D/requestToken',\n  qs: {format: 'SOME_STRING_VALUE'},\n  headers: {\n    'X-Ably-Version': 'SOME_STRING_VALUE',\n    Authorization: 'Basic REPLACE_BASIC_AUTH',\n    'content-type': 'application/json'\n  },\n  body: {\n    capability: {channel1: ['publish', 'subscribe']},\n    clientId: 'string',\n    keyName: 'xVLyHw.LMJZxw',\n    nonce: 'string',\n    timestamp: 0\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
                    },
                    {
                        "id": "python_python3",
                        "mimeType": "application/json",
                        "title": "Python + Python3",
                        "content": "import http.client\n\nconn = http.client.HTTPSConnection(\"rest.ably.io\")\n\npayload = \"{\\\"capability\\\":{\\\"channel1\\\":[\\\"publish\\\",\\\"subscribe\\\"]},\\\"clientId\\\":\\\"string\\\",\\\"keyName\\\":\\\"xVLyHw.LMJZxw\\\",\\\"nonce\\\":\\\"string\\\",\\\"timestamp\\\":0}\"\n\nheaders = {\n    'X-Ably-Version': \"SOME_STRING_VALUE\",\n    'Authorization': \"Basic REPLACE_BASIC_AUTH\",\n    'content-type': \"application/json\"\n    }\n\nconn.request(\"POST\", \"/keys/%7BkeyName%7D/requestToken?format=SOME_STRING_VALUE\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
                    },
                    {
                        "id": "go_native",
                        "mimeType": "application/json",
                        "title": "Go + Native",
                        "content": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://rest.ably.io/keys/%7BkeyName%7D/requestToken?format=SOME_STRING_VALUE\"\n\n\tpayload := strings.NewReader(\"{\\\"capability\\\":{\\\"channel1\\\":[\\\"publish\\\",\\\"subscribe\\\"]},\\\"clientId\\\":\\\"string\\\",\\\"keyName\\\":\\\"xVLyHw.LMJZxw\\\",\\\"nonce\\\":\\\"string\\\",\\\"timestamp\\\":0}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"X-Ably-Version\", \"SOME_STRING_VALUE\")\n\treq.Header.Add(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\treq.Header.Add(\"content-type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
                    },
                    {
                        "id": "ruby_native",
                        "mimeType": "application/json",
                        "title": "Ruby + Native",
                        "content": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://rest.ably.io/keys/%7BkeyName%7D/requestToken?format=SOME_STRING_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"X-Ably-Version\"] = 'SOME_STRING_VALUE'\nrequest[\"Authorization\"] = 'Basic REPLACE_BASIC_AUTH'\nrequest[\"content-type\"] = 'application/json'\nrequest.body = \"{\\\"capability\\\":{\\\"channel1\\\":[\\\"publish\\\",\\\"subscribe\\\"]},\\\"clientId\\\":\\\"string\\\",\\\"keyName\\\":\\\"xVLyHw.LMJZxw\\\",\\\"nonce\\\":\\\"string\\\",\\\"timestamp\\\":0}\"\n\nresponse = http.request(request)\nputs response.read_body"
                    },
                    {
                        "id": "php_curl",
                        "mimeType": "application/json",
                        "title": "Php + Curl",
                        "content": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://rest.ably.io/keys/%7BkeyName%7D/requestToken?format=SOME_STRING_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"capability\\\":{\\\"channel1\\\":[\\\"publish\\\",\\\"subscribe\\\"]},\\\"clientId\\\":\\\"string\\\",\\\"keyName\\\":\\\"xVLyHw.LMJZxw\\\",\\\"nonce\\\":\\\"string\\\",\\\"timestamp\\\":0}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Basic REPLACE_BASIC_AUTH\",\n    \"X-Ably-Version: SOME_STRING_VALUE\",\n    \"content-type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
                    },
                    {
                        "id": "swift_nsurlsession",
                        "mimeType": "application/json",
                        "title": "Swift + Nsurlsession",
                        "content": "import Foundation\n\nlet headers = [\n  \"X-Ably-Version\": \"SOME_STRING_VALUE\",\n  \"Authorization\": \"Basic REPLACE_BASIC_AUTH\",\n  \"content-type\": \"application/json\"\n]\nlet parameters = [\n  \"capability\": [\"channel1\": [\"publish\", \"subscribe\"]],\n  \"clientId\": \"string\",\n  \"keyName\": \"xVLyHw.LMJZxw\",\n  \"nonce\": \"string\",\n  \"timestamp\": 0\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://rest.ably.io/keys/%7BkeyName%7D/requestToken?format=SOME_STRING_VALUE\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
                    },
                    {
                        "id": "c_libcurl",
                        "mimeType": "application/json",
                        "title": "C + Libcurl",
                        "content": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://rest.ably.io/keys/%7BkeyName%7D/requestToken?format=SOME_STRING_VALUE\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"X-Ably-Version: SOME_STRING_VALUE\");\nheaders = curl_slist_append(headers, \"Authorization: Basic REPLACE_BASIC_AUTH\");\nheaders = curl_slist_append(headers, \"content-type: application/json\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"capability\\\":{\\\"channel1\\\":[\\\"publish\\\",\\\"subscribe\\\"]},\\\"clientId\\\":\\\"string\\\",\\\"keyName\\\":\\\"xVLyHw.LMJZxw\\\",\\\"nonce\\\":\\\"string\\\",\\\"timestamp\\\":0}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
                    },
                    {
                        "id": "javascript_xhr",
                        "mimeType": "application/json",
                        "title": "Javascript + Xhr",
                        "content": "const data = JSON.stringify({\n  \"capability\": {\n    \"channel1\": [\n      \"publish\",\n      \"subscribe\"\n    ]\n  },\n  \"clientId\": \"string\",\n  \"keyName\": \"xVLyHw.LMJZxw\",\n  \"nonce\": \"string\",\n  \"timestamp\": 0\n});\n\nconst xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://rest.ably.io/keys/%7BkeyName%7D/requestToken?format=SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"X-Ably-Version\", \"SOME_STRING_VALUE\");\nxhr.setRequestHeader(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\");\nxhr.setRequestHeader(\"content-type\", \"application/json\");\n\nxhr.send(data);"
                    }
                ]
            }
        },
        "/push/channelSubscriptions": {
            "delete": {
                "description": "Delete a device details object.",
                "operationId": "deletePushDeviceDetails",
                "parameters": [
                    {
                        "description": "Filter to restrict to subscriptions associated with that channel.",
                        "in": "query",
                        "name": "channel",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Must be set when clientId is empty, cannot be used with clientId.",
                        "in": "query",
                        "name": "deviceId",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Must be set when deviceId is empty, cannot be used with deviceId.",
                        "in": "query",
                        "name": "clientId",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "OK"
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "summary": "Delete a registered device's update token",
                "tags": [
[...]
